{% extends 'base.html' %}


{% block contenido %}

    <H6>NOTICIAS</H6>{% csrf_token %}

    {% for noticia in noticias %}

        <h4>Noticias</h4>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{ noticia.fecha}}</h5>
            <h5 class="card-title">{{ noticia.titulo}}</h5>
            <p class="card-text">{{ noticia.texto }}</p>
            </div>

            {% if user.is_authenticated %}
                <div class="btn-group" style="margin-left: 3mb;">
                    <a href="{% url 'noticias:editar-noticia' noticia.id %}" class="btn btn-success"><i class="fa-solid fa-file-pen"></i>  Editar noticia</a>
                    <a href="{% url 'noticias:eliminar-noticia' noticia.id %}" class="btn btn-danger">Eliminar Noticia</a>
                </div>
            {% endif %}

        </div>
    {% endfor %}

    {% if user.is_authenticated %}
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="{% url 'noticias:publicar-noticia' %}" class="btn btn-success"><i class="fa-solid fa-book"></i>    Crear una noticia</a>
        </div>
    {% else %}
        <div class="d-grid gap-2 col-6 mx-auto"></div>
        <a href="{% url 'usuarios:login' %}" class="btn btn-primary m-3">LOGUEATE PARA PUBLICAR</a>
        </div>
    {% endif %}


{% endblock contenido %}