{% extends 'base.html' %}


{% block contenido %}

    <H6>NOTICIAS</H6>{% csrf_token %}

    {% for noticia in noticias %}

        <h4>Noticias</h4>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{ noticia.fecha}}</h5>
            <h5 class="card-title">{{ noticia.titulo}}</h5>
            <p class="card-text">{{ noticia.texto }}</p>
            </div>

            {% if user.is_authenticated %}
                <div class="btn-group" style="margin-left: 1px;">
                    <a href="{% url 'noticias:editar-noticia' noticia.id %}" class="btn btn-success"><i class="fa-solid fa-file-pen"></i>  Editar noticia</a>
                </div>
            {% else %}
                <a href="#" class="btn btn-primary">Indagar mas</a>
            {% endif %}

        </div>
    {% endfor %}

    <a href="{% url 'noticias:publicar-noticia' %}" class="btn btn-success"><i class="fa-solid fa-book"></i>    Crear una noticia</a>


{% endblock contenido %}